@import "/src/settings.scss";

.about{
    width: 100vw;
    max-width: 1750px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .about-container{
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 3vw;
        position: relative;

        .intro-container{
            // flex: 2;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0 5vw;

            h3{
                font-size: 120px;
                line-height: 80%;
            }

            .intro{
                flex: 1;
                font-size: 30px;
                font-family: $satoshi;
                font-weight: 100;
                opacity: .8;
            }
    
        }

        .text-wrapper{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 5vh 0;

            .text{
                font-family: $satoshi;
                width: 100%;
                font-size: 20px;
                line-height: 160%;
                font-weight: 200;
                opacity: .8;
            }
        }

    }
}