@import "/src/settings.scss";

.about{
    width: 100vw;
    max-width: 1340px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    .about-container{
        flex: 1;
        width: 100%;
        padding: 0 40px;
        position: relative;

        .intro{
            width: 80%;
            font-family: $satoshi;
            font-size: 22px;
            font-weight: 200;
            opacity: .8;
        }

        h3{
            font-size: 4vw;
        }
    }
}