@import "/src/settings.scss";

.projectDetails{
    width: 100vw;
    max-width: 1750px;
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .overlay-transition-1{
        @include transition-1;
    }

    .overlay-transition-2{
        @include transition-2;
    }

    .project-container{
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 35vh;
        padding: 0 3vw;

        img{
            position: absolute;
            left: 30%;
            top: 30%;
            width: 750px;
            height: 880px;
            object-fit: cover;
            z-index: -1;
        }

        .title-wrapper{
            width: 100%;
            height: 60vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;

            h2{
                @include title;
                font-size: clamp(50px, 15vw, 180px);
            }

            p, span{
                font-size: 38px;
                font-weight: 200;
            }
        }

        .content-wrapper{
            width: 100%;
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .content{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 2vh;

                p{
                    max-width: 660px;
                    @include text;
                }
    
                .stack-wrapper{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    place-content: flex-start;
                    gap: 2vw;
    
                    span{
                        background: $black;
                        padding: 10px 15px;
                        border-radius: 50px;
                        outline: 1px solid $grey;
                    }
                }
            }

        }
        
        .img-wrapper{
            background: red;
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }

        }

        .prevnext-wrapper{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1vw;
            margin-bottom: 15vh;

            .btn{
                width: 50%;
                height: 10vh;
                border: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                outline: 1px solid $green;
                cursor: pointer;

                span{
                    letter-spacing: 3px;
                    font-weight: 200;
                }
            }
            
        }
    }
} 