@import "/src/settings.scss";

.projectDetails {
    width: 100vw;
    max-width: 1750px;
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .overlay-transition-1 {
        @include transition-1;
    }

    .overlay-transition-2 {
        @include transition-2;
    }

    .project-container {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 35vh;
        padding: 0 3vw;

        img {
            position: absolute;
            left: 50%;
            top: 30%;
            width: 750px;
            height: 880px;
            object-fit: cover;
            z-index: -1;
        }

        .title-wrapper {
            width: 100%;
            height: 60vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;

            h2 {
                overflow: hidden;

                span{
                    display: inline-block;
                    transform: translateY(100%);
                    @include title;
                    font-size: clamp(50px, 15vw, 180px);
                    @include titleAnim;
                }
            }

            p {
                max-width: 650px;
                font-size: 38px;
                font-weight: 200;
                opacity: 0;
                @include subAnim;
            }
        }

        .content-wrapper {
            width: 100%;
            height: 80vh;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 5vh;

                p {
                    max-width: 660px;
                    @include text;
                }

                .stack-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    place-content: flex-start;
                    gap: 2vw;

                    span {
                        background: $black;
                        padding: 10px 15px;
                        border-radius: 50px;
                        outline: 1px solid $grey;
                    }
                }
            }
        }

        .img-wrapper {
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }

        .links-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5vh;

            h2 {
                @include title;
                font-size: 60px;
            }

            .links {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3vw;

                .github {
                    color: $green;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    padding: 10px 0;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        right: 0;
                        bottom: 5px;
                        width: 100%;
                        height: 1px;
                        background: $green;
                        transition: all 0.2s linear;
                    }

                    &:hover::after {
                        width: 0;
                    }
                }
            }
        }

        .prevnext-wrapper {
            width: 100%;
            height: 15vh;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15vh;

            .btn {
                width: 50%;
                height: 30vh;
                border: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1vh;
                font-size: 38px;
                cursor: pointer;
                border-top: 1px solid transparent;
                border-image: linear-gradient(to right, transparent, $black1, transparent);
                border-image-slice: 1;
                transition: all .2s ease;

                span {
                    letter-spacing: 3px;
                    font-weight: 200;
                    font-size: 16px;
                    transition: letter-spacing .2s ease;
                }

                &:hover::before {
                    background: linear-gradient(to right,
                            transparent,
                            $grey,
                            transparent);
                }

                &:hover {
                    border-top: 1px solid transparent;
                    border-image: linear-gradient(to right, transparent, $grey, transparent);
                    border-image-slice: 1;
                }

                &:hover span{
                    letter-spacing: 4px;
                }

                &:hover .cursor {
                    display: flex;
                }
            }

            .line {
                width: 1px;
                height: 100%;
                background-image: linear-gradient(to bottom, transparent, $black1, transparent);
            }
        }
    }
}