@import "/src/settings.scss";

.loader {
  font-size: clamp(28px, 6vw, 48px);
  display: inline-block;
  letter-spacing: 2px;
  position: relative;
  color: $green2;
}

.loader::after {
  content: "Hello";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: $green1;
  overflow: hidden;
  animation: animloader 1.3s linear infinite;
}

@keyframes animloader {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
