@import "/src/settings.scss";

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;

    .input-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1vh;

        input,
        textarea{
            width: 100%;
            border: none;
            border-bottom: 1px solid $main-color;
            background: black;
            color: $main-color;
            font-family: $font-family;

            &:active,
            &:focus{
                outline: none;
                border-bottom: 1px solid $prim-color;
            }
        }

        input{
            height: 5vh;
        }

        textarea{
            resize: none;
        }
    }
}