@import "/src/settings.scss";

form{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-right: 40px;

    h3{
        font-size: 92px;
        text-transform: uppercase;
    }

    .input-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 5vh;

        input,
        textarea{
            width: 100%;
            border: none;
            border-bottom: 1px solid $grey;
            background: none;
            color: $white;
            font-family: $font-family;

            &:active,
            &:focus{
                outline: none;
                border-bottom: 1px solid $green1;
            }
        }

        textarea{
            resize: none;
        }
    }
}