@import "/src/settings.scss";

.networks{
    display: flex;
    align-items: center;
    justify-content: center;
    place-content: end;
    flex-wrap: wrap;
    gap: 10px;

    a{
        width: clamp(25px, 6vw, 30px);
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $green1;
        border-radius: 50%;
        font-size: clamp(12px, 6vw, 14px);
        color: $green;
    }
}