@import "/src/settings.scss";

.pickup{
    width: 100%;
    height: 80vh;
    @include flex-center;
    margin-bottom: 15vh;
    padding: 0 10vw;
    background: #000;

    h2{
        width: 100%;
        text-align: center;
        font-size: 42px;
    }
}