@import "/src/settings.scss";

.spinner{
    position: absolute;
    left: 22%;
    top: 10%;
    width: 120px;
    aspect-ratio: 1;
    font-family: $satoshi;
    color: $green;
    mix-blend-mode: difference;
    z-index: 999;
    animation: spinner 6s linear infinite;

    span{
        position: absolute;
        left: 50%;
        transform-origin: 0 60px;

        &.active{
            color: yellowgreen;
        }
    }

    @keyframes spinner {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(180deg);
        }
    }
} 

