@import "/src/settings.scss";

.contact {
  width: 100vw;
  max-width: 1750px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .overlay-transition-1 {
    @include transition-1;
  }

  .overlay-transition-2 {
    @include transition-2;
  }

  .content-container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    padding: 5vw;

    .top-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10vh 5vw;

      h2 {
        @include title;
        min-width: 40%;

        span {
          display: inline-block;
          margin-bottom: -1vh;
          overflow: hidden;

          span {
            line-height: 120%;
            transform: translateY(100%);
            @include titleAnim;
          }
        }
      }

      @media (max-width: 1150px) {
        & {
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
        }
      }
    }

    .bottom-wrapper {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin: auto 0 5vh;

      .text-wrapper {
        width: 100%;
        flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        p {
          text-align: right;
          max-width: 420px;
          @include text;
        }
      }
    }
  }
}
