@import "/src/settings.scss";

.home{
    width: 100%;
    max-width: 1240px;
    height: auto;
    @include flex-center;
    flex-direction: column;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background-image: linear-gradient(to bottom, transparent, white);
    }

    @media (max-width: 1040px){
        &::after{
            display: none;
        }
    }
}