@import "/src/settings.scss";

header{
    width: 100%;
    flex: 10;
    padding: 10vh 0 0 5vw;

    .title-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        h1{
            font-size: 110px;
            
            line-height: 70%;
            font-weight: 300;
            position: relative;
    
            &::before{
                content: "";
                position: absolute;
                left: -5vw;
                top: 0;
                background: $green1;
                width: 5px;
                height: 100%;
            }
    
            .serif-font{
                @include serif-font;
                font-size: 80%;
            }
        }

        .subtitle{
            width: 400px;
            font-weight: 200;
            padding: 2vh 0 15vh;
        }

        .btn-box{
            width: 320px;
        }
    }

    .intro{
        width: 40%;
        text-align: right;
    }

}

