@import "/src/settings.scss";

header{
    width: 100%;
    flex: 10;
    padding: 10vh 0 0 10vw;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 90%;
        height: 100%;
        z-index: -1;
        background: $green2;
    }

    h1{
        font-size: 92px;
        line-height: 80%;
        font-weight: 300;
    }

    p{
        font-weight: 200;
        padding: 2vh 0 10vh;
    }
}