@import "/src/settings.scss";

header{
    width: 89%;
    left: 0;
    flex: 10;
    padding: 10vh 0 0 10vw;
    background: $green2;

    h1{
        font-size: 110px;
        line-height: 70%;
        font-weight: 300;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            left: -10vw;
            top: 0;
            background: $green1;
            width: 5px;
            height: 100%;
        }

        .serif-font{
            @include serif-font;
            font-size: 80%;
        }
    }

    p{
        font-weight: 200;
        padding: 3vh 0 10vh;
    }
}