@import "/src/settings.scss";

.navbar{
    width: 100%;
    height: 10vh;
    // flex: 1;
    @include flex-center;
    padding: 0 3vw;
    z-index: 2;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, transparent, $black1, transparent);
    }

    .navbar-flex{
        width: 100%;
        // max-width: 1140px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name{
            display: flex;
            text-decoration: none;
            color: $green;
            
            h1{
                font-size: 16px;
                font-weight: 200;
            }

            .param{
                color: $green1;
            }
        }

        nav{
            @include flex-center;
            gap: 30px;
            
            a{
                text-decoration: none;
                font-size: 14px;
                color: $green;
                overflow: hidden;

                span{
                    display: inline-block;
                    position: relative;
                    transition: transform .3s ease;
            
                    &::before{
                        content: attr(data-link);
                        position: absolute;
                        top: -100%;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                        @include flex-center;
                    }
                }

                &:hover span{
                    transform: translateY(100%);
                }
            }

            .active{
                color: $green1;
            }
        }

        
        .burger-menu{
            display: none;
            width: 30px;
            aspect-ratio: 1;
            position: relative;
            
            img{
                width: 100%;
                height: 100%;
            }

            .burger-icon{
                display: flex;
            }

            .close-icon{
                display: none;
            }
        }

        @media (max-width: 1040px){
            nav{
                display: none;
                transition: none;
            }
            nav.active{
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0 10vw;
                background: $black;
                z-index: 1;
                transition: transform .3s linear;

                &::before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 5px;
                    height: 100%;
                    background: $green1;
                }

                a{
                    font-size: 52px;
                }
            }
            .burger-menu{
                @include flex-center;
                width: 25px;
                aspect-ratio: 1;
                font-size: 22px;
                color: $green;
                z-index: 999;

                .burger-icon{
                    display: block;
                }

                .close-icon{
                    display: block;
                }
            }
        }
    }
}