@import "/src/settings.scss";

.navbar {
  position: fixed;
  top: -1px;
  width: 100%;
  max-width: 1750px;
  height: 10vh;
  @include flex-center;
  padding: 0 5vw;
  background: $black1;
  border-bottom: 1px solid $black2;
  z-index: 3;

  .navbar-flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .name {
      display: flex;
      text-decoration: none;
      color: $green1;
      font-size: 18px;
      letter-spacing: 1px;
      font-size: 300;

      h1 {
        font-size: 18px;
        font-weight: 300;
      }

      .param {
        font-size: 18px;
        color: $green2;
        font-weight: 300;
      }
    }

    nav {
      @include flex-center;
      gap: 30px;

      a {
        text-decoration: none;
        font-size: 16px;
        color: $green1;
        overflow: hidden;

        span {
          display: inline-block;
          position: relative;
          transition: transform 0.3s ease;

          &::before {
            content: attr(data-link);
            position: absolute;
            top: -100%;
            bottom: 0;
            width: 100%;
            height: 100%;
            @include flex-center;
          }
        }

        &:hover span {
          transform: translateY(100%);
        }
      }

      .networks-wrapper {
        display: none;
      }

      .active {
        color: $green2;
      }
    }

    .burger-menu {
      display: none;
      width: 25px;
      aspect-ratio: 1;
      position: fixed;
      right: 5vw;
      cursor: pointer;
      z-index: 1;

      .open-icon {
        width: 100%;
        aspect-ratio: 1;
        position: relative;
        // background: red;

        .line {
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          background: $green1;
        }

        #line1 {
          top: 40%;
        }

        #line2 {
          top: 60%;
        }
      }

      .close-icon {
        width: 100%;
        aspect-ratio: 1;
        position: relative;

        .line {
          position: absolute;
          left: 0;
          width: 100%;
          height: 2px;
          background: $green1;
        }

        #line1 {
          top: 50%;
          transform: rotate(45deg);
        }

        #line2 {
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }

    @media (max-width: 1040px) {
      nav {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5vw;
        background: $black1;
        transform: translateX(100%);
        z-index: 1;
        transition: transform 0.3s ease;

        a {
          width: 100%;
          font-size: 42px;
          font-weight: 200;
          padding-left: 10vw;
          opacity: 0;
          transition: opacity 0.3s ease;
          transition-delay: 0.05s;
        }
      }

      nav.active {
        transform: translateX(0);
        transition: transform 0.3s ease;

        a {
          opacity: 1;
          transition: opacity 0.3s ease;
        }
      }

      .burger-menu {
        @include flex-center;

        .open-icon {
          display: block;
        }

        .close-icon {
          display: block;
        }
      }
    }
  }
}
