@import "/src/settings.scss";

.navbar{
    position: fixed;
    left: 0;
    width: 100%;
    height: 8vh;
    @include flex-center;
    padding: 0 10vw;
    background: black;
    z-index: 999;

    .navbar-flex{
        width: 100%;
        max-width: 1140px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        nav{
            @include flex-center;
            gap: 30px;
            
            a{
                text-decoration: none;
                font-size: 14px;
                color: white;
            }
        }

        
        .burger-menu{
            width: 30px;
            aspect-ratio: 1;
            display: none;
            position: relative;
            
            .line{
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 2px;
                background: white;
            }

            #top-line{
                top: 40%;
            }

            #bottom-line{
                top: 60%;
                width: 80%;
            }

            &.active{
                #top-line{
                    top: 50%;
                }

                #bottom-line{
                    display: none;
                }
            }
        }

        @media (max-width: 1040px){
            nav{
                display: none;
            }
            nav.active{
                transform: translateY(0);
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 5vw;
                background: #000;

                a{
                    font-size: 42px;
                }
            }
            .burger-menu{
                display: block;
            }
        }
    }
}