@import "/src/settings.scss";

.projects{
    width: 100vw;
    max-width: 1750px;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .overlay-transition-1{
        @include transition-1;
    }

    .overlay-transition-2{
        @include transition-2;
    }
    
    .projects-grid{
        width: 100%;
        height: 100%;
        @include flex-center;
        flex-direction: column;
    
        .top-container{
            flex: 1;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0 3vw;

            h2{
                font-weight: 200;
            }

            input[type="text"]{
                border: none;
                outline: none;
            }
        }

        .projects-container{
            height: 75vh;
            width: 100%;
            @include flex-center;
            padding-left: 3vw;

            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 1px;
                background: linear-gradient(to right, transparent, $black1, transparent)
            }

            .titles-container{
                width: 60%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                overflow-y: scroll;

                &::-webkit-scrollbar{
                    display: none;
                }

                .titles-wrapper{
                    height: 100vh;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;

                    small{
                        width: 100%;
                        text-align: center;
                        padding: 10vh 0;
                        font-family: $satoshi;
                    }
                }

                @media screen and (max-width: 860px) {
                    &{
                        width: 100%;
                    }
                }
                &:hover .cursor {
                    display: flex;
                }
            }

            .img-container{
                width: 40%;
                height: 100%;
                @include flex-center;
                
                a{
                    width: 100%;
                    height: 100%;
                    
                    .img-box{
                        width: 100%;
                        height: 100%;
                        background-position: center;
                        background-size: cover;
                        transition: background .5s ease;
                    }
                }


                @media screen and (max-width: 860px) {
                    &{
                        display: none;
                    }
                }
            }
        }
    }
}