@import "/src/settings.scss";

.intro-container{
    width: 100%;
    height: 80vh;
    @include flex-center;
    margin-bottom: 15vh;

    .intro-flex{
        width: 100%;
        height: 100%;
        @include flex-center;
        
        .intro-content{
            width: 50%;
            height: 100%;
            @include flex-center;

            h2{
                width: 100%;
                text-align: center;
                font-size: 42px;

                .serif-font{
                    @include serif-font;
                }

                .colored-font{
                    @include colored-font;
                }
            }
        }

        .intro-img{
            width: 50%;
            height: 90%;
            @include flex-center;
            position: relative;

            &::before{
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 55%;
                height: 95%;
                background: transparent;
                border: 1px solid $main-color;
                z-index: 1;
            }

            img{
                width: 60%;
                height: 100%;
                object-fit: cover;
                filter: grayscale(1);
            }
        }
    }
}