@import "/src/settings.scss";

.intro-container{
    width: 100%;
    min-height: 70vh;
    @include flex-center;
    padding: 10vh 0;
    margin-bottom: 10vh;
    
    .intro-flex{
        width: 100%;
        @include flex-center;
        gap: 5vh 0;
        flex-wrap: wrap;
        
        .intro-content{
            width: 50%;
            height: 100%;
            // flex: 1;
            @include flex-center;

            @media (max-width: 1040px){
                &{
                    width: 100%;
                }
            }

            h2{
                width: 100%;
                text-align: center;
                font-size: clamp(28px, 6vw, 42px);
                font-weight: 200;

                .serif-font{
                    @include serif-font;
                }

                .colored-font{
                    @include colored-font;
                }

                @media (max-width: 1040px){
                    &{
                        padding: 0 5vw;
                    }
                }
            }
        }

        .intro-img{
            @include flex-center;
            
            img{
                width: 60%;
                // min-width: 350px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}