@import "/src/settings.scss";

footer{
    width: 100%;
    height: 20%;
    @include flex-center;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, transparent, $white, transparent)
    }

    .footer-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;

        span{
            font-size: clamp(32px, 8vw, 52px);
            font-weight: 400;
        }

        .footer-flex{
            display: flex;
            flex-direction: column;
            font-size: clamp(12px, 3vw, 16px);
            font-weight: 200;
        }
    }
}