@import "/src/settings.scss";

footer{
    position: absolute;
    left: 0;
    width: 100%;
    height: 30vh;
    @include flex-center;
    flex-direction: column;
    gap: 10px;
    background: #000;

    p,
    a{
        font-size: 10px;
        color: $main-color;
    }
}