@import "/src/settings.scss";

ul{
    @include flex-center;
    flex-wrap: wrap;
    gap: 5px 20px;

    .filter-btn{
        @include flex-center;
        gap: 5px;
        
        label{
            cursor: pointer;
        }

        input{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            
            &:checked{
                border-radius: 50%;
                border: 5px solid $green1;
            }
        }
    }

    .search-box{
        border: none;
        outline: none;
        cursor: pointer;
        
        .search-wrapper{
            @include flex-center;
            height: 3vh;
            background: rgb(8, 8, 8);

            .icon-box,
            .cross-box{
                height: 100%;
                aspect-ratio: 1;
                @include flex-center;
                color: $green;
            }

            input{
                font-family: $satoshi;
                color: $green;
                caret-color: $green;
                background: none;
                border: none;
                outline: none;
            }

            &:focus-within{
                outline: 1px solid $green;
            }
        }
    }
}