@import "./settings.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    position: relative;

    // &::before{
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 10px;
    //     height: 100%;
    //     background: $green1;
    //     z-index: 1;
    // }

    @media (max-width: 1040px){
        &::before{
            display: none;
        }
    }
}

body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5vw;
    font-family: $font-family;
    color: $green;
    background: $black;

    @media (max-width: 1040px){
        &{
            padding: 0;
        }
    }
}