// fonts
// @import url('https://fonts.cdnfonts.com/css/montreal');
@import url('https://fonts.cdnfonts.com/css/gallient');
@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');

$font-family: 'Cabinet Grotesk', sans-serif;
$alt-ffamily: 'Gallient', sans-serif;
                                                                            
// couleurs
$main-color: #f8f8f8;
$prim-color: #ceff1d;
$alt-fontColor: #bebebe;
$main-bgColor: #111111;

//mixin
@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin serif-font{
    font-family: $alt-ffamily;
    font-weight: bold;
}

@mixin colored-font{
    color: $prim-color;
    font-weight: bold;
}