// fonts
// @import url('https://fonts.cdnfonts.com/css/montreal');
@import url('https://fonts.cdnfonts.com/css/gallient');
@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');

$font-family: 'Cabinet Grotesk', sans-serif;
$alt-ffamily: 'Gallient', sans-serif;
                                                                            
// couleurs
$white: #f8f8f8;
$black: #111111;
$green1: #ceff1d;
$green2: #6E7263;
$grey: #bebebe;

//mixin
@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin serif-font{
    font-family: $alt-ffamily;
    font-weight: bold;
}

@mixin colored-font{
    color: $green1;
    font-weight: bold;
}