@import "/src/settings.scss";

.stack-container {
  width: 100%;
  height: 30vh;
  @include flex-center;
  font-family: $satoshi;
  margin-bottom: 5vh;

  .stack-flex {
    width: 100%;
    height: 100%;
    @include flex-center;
    flex-direction: column;
    text-decoration: none;
    border-top: 1px dashed $black2;
    cursor: none;
    
    @media screen and (max-width: 860px) {
      & {
        cursor: pointer;
      }
    }
    
    .stack {
      width: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 5vw;
      color: $green1;
      font-size: 22px;
      overflow: hidden;
      transition: color 0.2s ease;
      border-bottom: 1px dashed $black2;

      .technos-box {
        width: fit-content;
        display: flex;

        .txt-box {
          overflow: hidden;
          width: 48%;

          .txt-wrapper {
            display: flex;
            gap: 10px;

            p {
              font-size: clamp(12px, 4vw, 32px);

              &:nth-child(even) {
                color: $green2;
              }
            }
          }
        }
      }

      &:hover {
        color: $green2;
      }

      &:hover .txt-wrapper {
        animation: scroll 8s linear infinite;
      }

      @keyframes scroll {
        0% {
          transform: translateX(0);
        }

        100% {
          transform: translateX(-105%);
        }
      }
    }
  }

  &:hover .cursor {
    display: flex;

    @media screen and (max-width: 860px) {
      & {
        display: none;
      }
    }
  }
}
