@import "/src/settings.scss";

.notfound{
    width: 100vw;
    max-width: 1750px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content-container{
        width: 100vw;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2{
            font-size: clamp(52px, 30vw, 220px);
        }
    
        p{
            font-size: clamp(16px, 6vw, 62px);
        }
    
        a{
            color: $green;
            padding: 10vh 0;
        }
    }
}