@import "/src/settings.scss";

.notfound {
  width: 100vw;
  max-width: 1750px;
  height: 100vh;
  @include flex-center;
  flex-direction: column;

  .content-container {
    width: 100vw;
    flex: 1;
    @include flex-center;
    flex-direction: column;

    h2 {
      font-size: clamp(52px, 30vw, 220px);
      color: $green2;
    }

    p {
      font-size: clamp(16px, 6vw, 62px);
    }

    a {
      margin: 10vh 0;
    }
  }
}
